<!DOCTYPE html>
<html>
  <title>University of Cincinnati Bearcat Inquiry Chabot</title>
  <body>
    <div style="width:500px;margin: auto;border: 1px solid black;padding:10px">
    <form action="{{url_for('chatbotsystem')}}" method="POST">
      <h1>University of Cincinnati Inquiry Chatbot</h1>
      <div class="icon">
	 <i class="fas fa-user-circle"></i>
      </div>
      <div class="formcontainer">
      <div class="container">
       <label for="ufname"><strong>Hello! University of Cincinnati Inquiry Chatbot</strong></label></br></br>
	  <label for="ufname"><strong>Choose your questions from the list below:</strong></label></br>
	  <label for="ufname"><strong> Does the college have a football team?</strong></label></br>
	  <label for="ufname"><strong> How can I apply for need based scholarships as an international student?</strong></label></br>
    <label for="ufname"><strong> Does it have Computer Science Major?</strong></label></br>
    <label for="ufname"><strong> What is the in-state tuition?</strong></label></br>
    <label for="ufname"><strong> How many co-ops do Engineering majors need to do?</strong></label></br>
    <label for="ufname"><strong> Does it have on campus housing?</strong></label></br>
      </div></div><br>
	<div class="text-box">
       <input type="text" style="width:300pt;height:50px" name="question" id="message" autocomplete="off" placeholder="Type your Questions here">
	  <input class="send-button" style="width:50pt;height:50px" type="submit" value=">">
      </div><br>
	  <button href="{{url_for('endchat')}}" align='center'">End Chat</button>
	</div> 
	
    </form>
  </div>
    </body>
	</body>
  </body>
</html>