<!DOCTYPE html>
<html>
  <title>Session with Bearcat Chatbot Closed</title>
  <body>
    <div style="width:500px;margin: auto;border: 1px solid black;padding:10px">
    <form action="/action_page.php">
      <h1>Chat Session is currently closed</h1>
      <div class="formcontainer">
      <div class="container">
        <label for="ufname"><strong>Thank you for your interest, Hope all of your questions are answered!</strong></label></br></br>
	  
      </div>
	</div>
    </form>
  </div>
  </body>
</html>